body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

main{

  font-family: 'Roboto',sans-serif;

  background: #F5F1E3;  
  background: -webkit-linear-gradient(to top, #DDDBCB, #FFFFFF); 
  background: linear-gradient(to top, #DDDBCB, #FFFFFF); 
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* .primary-heading,
.secondary-heading,
.btn-container,
.random-ideas{
  text-align: center;
} */
.primary-heading{
  color:#050505;
  font-size: 50px;
}
.secondary-heading{
  color:#84816f;
  font-size: 25px;
  font-weight: bold;
}

#rnd-btn{
  background-color: #fa5252;
  height: 100px;
  width: 100px;
  box-shadow: 1px 2px 5px #05050546;
  border:4px solid #c92a2a;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15ms;
}
#rnd-btn:active{
  box-shadow: 0 0 0;
}

.random-ideas{
  color:#050505;
  font-weight: bold;
  font-size: 20px;
}
